@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eulyoo1945";
  src: url("/fonts/Eulyoo1945.ttf") format("truetype");
  font-style: normal;
}

* {
  font-family: "Eulyoo1945";
  background-color: #18181a;
  /* color: #191919; */
  color: #f3f4f6;
}

body {
  min-width: 280px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  letter-spacing: 0.02em;
}

h1 {
  letter-spacing: 0.05em;
}

header > a {
  display: inline-block;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
