@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eulyoo1945";
  src: url("/fonts/Eulyoo1945.ttf");
}

@layer base {
  * {
    @apply scroll-smooth;
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Eulyoo1945";
}

:root,
.light {
  --white: #f3f4f6;
  --black: #121212;

  --background: white;
  --foreground: var(--black);

  --primary: hsl(222.2 47.4% 11.2%);
  --primary-foreground: hsl(210 40% 98%);

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);

  --border: hsl(214.3 31.8% 91.4%);
  --link: #b6b6b6;

  --radius: 0.5rem;

  color-scheme: light;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --primary: hsl(210 40% 98%);
  --primary-foreground: (222.2 47.4% 11.2%);

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: var(--white);

  --border: hsl(217.2 32.6% 17.5%);
  --link: #353d50;

  color-scheme: dark;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  /* color: light-dark(#191919, #f3f4f6); */
  /* background-color: light-dark(#f3f4f6, #18181a); */
  transition: color 0.4s, background-color 0.4s;
  min-width: 280px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  letter-spacing: 0.02em;
}